<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Dangnhap/css/registration.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Dangnhap/css/all.min.css') }}">
</head>

<body>
    <div class="main">

        <form action="{{ url_for('login_bp.authe') }}" method="POST" class="form" id="sign-in-form">
            <h3 class="heading">Đăng nhập</h3>

            <div class="spacer"></div>

            <div class="form-group">
                <i class="user-icon fa-solid fa-user"></i>
                <input id="fullname" name="fullname" rules="required" type="text" placeholder="Tên đăng nhập" class="form-control">
                <div></div>
                <span class="form-message"></span>
            </div>

            <div class="form-group">
                <i class="key-icon fa-solid fa-key"></i>
                <input id="password" name="password" rules="required|min:8" type="password" placeholder="Mật khẩu" class="form-control">
                <span class="form-message"></span>
            </div>


            <button class="form-submit sign-in" type="submit">Đăng nhập</button>
            <a href="" class="forgot-password">Quên mật khẩu?</a>
            <a href="/login/signup" class="form-submit sign-up background-white">Đăng ký tài khoản</a>

            
        </form>

    </div>

    <script src="{{ url_for('static', filename='Dangnhap/js/validator.js') }}"></script>
      <script>
            var form = new Validator("#sign-in-form");

            form.onsubmit = function(data) {
                console.log(data);
                // Sau khi validate xong, gửi dữ liệu form
                this.submit();
            };
      </script>
</body>

</html>