<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='DichVu/css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='DichVu/css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='DichVu/css/style.css') }}">
</head>
<body>
    <header class="header">
        <div class="wrapper header-wrapper">
            <p class="head">Wedding Restaurent</p>
            <nav class="header-nav">
                <ul class="header-nav_list">
                    <li class="header-nav_item">
                        <a href="/home" tittle="Trang chủ" class="header-nav_link button btn--border"><b>Trang chủ</b></a>
                    </li>
                    <li class="header-nav_item">
                        <a href="/sanhcuoi" tittle="Sảnh Cưới" class="header-nav_link button btn--border"><b>Sảnh Cưới</b></a>
                    </li>
                    <li class="header-nav_item">
                        <a href="/thucdon" tittle="Thực đơn" class="header-nav_link button btn--border"><b>Thực đơn</b></a>
                    </li>
                    <li class="header-nav_item">
                        <a href="/offering" tittle="Dịch Vụ" class="header-nav_link button btn--border"><b>Dịch Vụ</b></a>
                    </li>
                    {% if user is not none %}
                        <li class="header-nav_item">
                            <a href="/taikhoan" tittle="Tài Khoản0." class="header-nav_link"><b>Hi - {{ user }}</b></a>
                        </li>
                        <li class="header-nav_item">
                            <a href="/login" tittle="Tài Khoản" class="header-nav_link"><b>LogOut</b></a>
                        </li>
                    {% else %}               
                        <li class="header-nav_item">
                            <a href="/login" tittle="Tài Khoản" class="header-nav_link"><b>Đăng nhập</b></a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <div class="wrapper">
        <div class="wrapper-content">
            <h1><b>Danh Sách Dịch Vụ</b></h1>
            <div class="form-search">
                <div class="fui-basic-input">
                    <input type="text" name="name" placeholder="Nhập dịch vụ bạn muốn tìm kiếm" class="input" autocomplete="off"/>
              </div>
              <button class="bt-btn-ui-1-2">Tìm</button>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="wrapper container"></div>

    <div class="wrapper">
        <ul class="card-list">
            <!-- Bắt đầu vòng lặp for -->
            {% for post in posts %}
            <li class="card-item">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ post['DuongDanAnh'] }}" alt="easy template"/>
                    </div>
                    <div class="cardbody">
                        <h3 class="card-title">
                            <a href="#" class="card-title-link">{{ post['TenDichVu'] }}</a>
                        </h3>
                        <div class="card-meta">
                            <div class="card-price">
                                <p class="card-price-current">Giá dịch vụ: {{ post['DonGia'] }} VND</p>
                            </div>
                        </div>
                        <div class="card-detail">
                            <a href="/offering" class="card-btn" onclick="submitBooking('{{ post.MaDichVu }}','{{ post.TenDichVu }}', '{{ post.DonGia }}', '{{ post.DuongDanAnh }}', )">Đặt dịch vụ</a>
                            <a href="#" class="card-btn">Xem Chi Tiết</a>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
            <!-- Kết thúc vòng lặp for -->
        </ul>
    </div>


    <div class="wrapper distant"></div>

    
    <div class="wrapper">
        <div class="wrapper-image">
            {% if orders is not none %}
                <div class="success-message" id="successMessage">Đã Thêm Vào Đám Cưới Của Tôi</div>
            {% else %}
                <div class="success-message" id="successMessage">Chưa Đặt Dịch Vụ</div>
            {% endif %}
            <div class="image-wrap1">
                <div class="ig-button">
                    <a href="#" class="social-link" title="Instagram">
                      <div class="icon">
                        <img src="static/DichVu/img/ig.png" class="corner-image">
                      </div>
                      <span class="text">Instagram</span>
                    </a>
                </div>
                <div class="fb-button">
                    <a href="#" class="social-link" title="Facebook">
                    <div class="icon">
                        <img src="static/DichVu/img/fb.png" class="corner-image">
                    </div>
                      <span class="text">Facebook</span>
                    </a>
                </div>
            </div>  
            <div class="image-wrap2">
                <div class="phone-button">
                    <a href="#" class="social-link" title="Phone-number">
                      <div class="icon">
                        <img src="static/DichVu/img/phone.png" class="corner-image">
                      </div>
                      <span class="text">0934123456</span>
                    </a>
                </div>
                <div class="mail-button">
                    <a href="#" class="social-link" title="Email">
                    <div class="icon">
                        <img src="static/DichVu/img/mail.png" class="corner-image">
                    </div>
                      <span class="text">admin@gmail.com</span>
                    </a>
                </div>
            </div>
        </div>
        
    </div>
    
</body>
</html>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Lấy đối tượng div chứa thông báo
        var successMessage = document.getElementById("successMessage");
        
        // Hiển thị thông báo "Đặt thành công"
        successMessage.style.display = "block";

        // Ẩn thông báo sau 5 giây
        setTimeout(function () {
            successMessage.style.display = "none";
        }, 5000);
    });
</script>

<script>
    function submitBooking(MaDichVu, TenDichVu, DonGia, DuongDanAnh) {
        // Sử dụng AJAX để gửi dữ liệu về server
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/offering/order", true);
        xhr.setRequestHeader("Content-Type", "application/json");

        // Dữ liệu để gửi
        var data = {
            MaDichVu: MaDichVu,
            TenDichVu: TenDichVu,
            DonGia: DonGia,
            DuongDanAnh: DuongDanAnh
        };

        // Gửi dữ liệu dưới dạng JSON
        xhr.send(JSON.stringify(data));
    }

</script>
