<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Menu/css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Menu/css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Menu/css/style.css') }}">
</head>
<body>
    <header class="header">
        <div class="wrapper header-wrapper">
            <p class="head">Wedding Restaurent</p>
            <nav class="header-nav">
                <ul class="header-nav_list">
                    <li class="header-nav_item">
                        <a href="/home" tittle="Trang chủ" class="header-nav_link button btn--border"><b>Trang chủ</b></a>
                    </li>
                    <li class="header-nav_item">
                        <a href="/sanhcuoi" tittle="Sảnh Cưới" class="header-nav_link button btn--border"><b>Sảnh Cưới</b></a>
                    </li>
                    <li class="header-nav_item">
                        <a href="/thucdon" tittle="Thực đơn" class="header-nav_link button btn--border"><b>Thực đơn</b></a>
                    </li>
                    <li class="header-nav_item">
                        <a href="/offering" tittle="Dịch Vụ" class="header-nav_link button btn--border"><b>Dịch Vụ</b></a>
                    </li>
                    {% if user is not none %}
                        <li class="header-nav_item">
                            <a href="/taikhoan" tittle="Tài Khoản0." class="header-nav_link"><b>Hi  {{ user }}</b></a>
                        </li>
                        <li class="header-nav_item">
                            <a href="/login" tittle="Tài Khoản" class="header-nav_link"><b>LogOut</b></a>
                        </li>
                    {% else %}               
                        <li class="header-nav_item">
                            <a href="/login" tittle="Tài Khoản" class="header-nav_link"><b>Đăng nhập</b></a>
                        </li>
                    {% endif %} 
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="wrapper">
        <div class="wrapper-content">
            <h1><b>Thực đơn có sẵn</b></h1>
            <div class="form-search">
                <div class="fui-basic-input">
                    <input type="text" name="name" placeholder="Nhập món ăn bạn muốn tìm kiếm" class="input" autocomplete="off"/>
              </div>
              <button class="bt-btn-ui-1-2">Tìm</button>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="wrapper container"></div>

    <div class="wrapper">
        <ul class="card-list">
            {% for post in posts %}
            <li class="card-item">
                <div class="card">
                    <div class="card-image">
                        <img
                            src="{{ post['DuongDanAnh']}}"
                            alt="easy template"
                        />
                    </div>
                    <div class="cardbody">
                        <h3 class="card-title">
                            <a href="#" class="card-title-link">
                                {{ post['TenThucDon']}}
                            </a>
                        </h3>
                        <div class="card-meta">
                            <div class="card-price">
                                <p class="card-price-current">Giá: {{ post['DonGia']}} VND</p>
                            </div>
                        </div>
                        <form id="FORM_1">
                            <input type="hidden" name="_token" value="nHOFBedoyCAWT1f4rnSZXCSYCkeUWiqgIL53hGw4" id="menu" />
                            <ul id="menu-list">
                                <li id="food-list">
                                    <p id="food-span">
                                        <span id="num">1</span>
                                    </p>
                                    <p id="food-name">
                                        {{ post['Mon1']}}
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list">
                                    <p id="food-span">
                                        <span id="num">2</span>
                                    </p>
                                    <p id="food-name">
                                        {{ post['Mon2']}}
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list">
                                    <p id="food-span">
                                        <span id="num">3</span>
                                    </p>
                                    <p id="food-name">
                                        {{ post['Mon3']}}
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list">
                                    <p id="food-span">
                                        <span id="num">4</span>
                                    </p>
                                    <p id="food-name">
                                        {{ post['Mon4']}}
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list">
                                    <p id="food-span">
                                        <span id="num">5</span>
                                    </p>
                                    <p id="food-name">
                                        {{ post['Mon5']}}
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list">
                                    <p id="food-span">
                                        <span id="num">6</span>
                                    </p>
                                    <p id="food-name">
                                        {{ post['Mon6']}}
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list">
                                    <p id="food-span">
                                        <span id="num">7</span>
                                    </p>
                                    <p id="food-name">
                                        {{ post['Bia']}}
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list">
                                    <p id="food-span">
                                        <span id="num">8</span>
                                    </p>
                                    <p id="food-name">
                                        {{ post['NuocNgot']}}
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                            </ul>
                        </form>
                        <div class="card-detail">
                            <a href="/thucdon" class="card-btn" onclick="submitBooking('{{ post.MaThucDon }}','{{ post.TenThucDon }}', '{{ post.DonGia }}', '{{ post.DuongDanAnh }}', '{{ post.Mon1 }}','{{ post.Mon2 }}','{{ post.Mon3 }}','{{ post.Mon4 }}','{{ post.Mon5 }}','{{ post.Mon6 }}','{{ post.Bia }}','{{ post.NuocNgot }}')">Đặt đơn</a>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
            
    <!-- <div class="wrapper">
        <div class="wrapper-content">
            <h1><b>Thực đơn tự chọn</b></h1>
        </div>
    </div>
    <div class="divider"></div> -->
    
    <!-- <div class="wrapper">
        <ul class="card-list">
            <li class="card-item">
                <div class="card">
                    <div class="card-image">
                        <img
                            src="./assets/img/khaivi.jpg"
                            alt="easy template"
                        />
                    </div>
                    <div class="cardbody">
                        <h3 class="card-title">
                            <a href="#" class="card-title-link">
                                Món khai vị
                            </a>
                        </h3>
                        <form id="FORM_1">
                            <input type="hidden" name="_token" value="nHOFBedoyCAWT1f4rnSZXCSYCkeUWiqgIL53hGw4" id="menu" />
                            <ul id="menu-list">
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">1</span>
                                    </p>
                                    <p id="food-name">
                                        Chạo tôm
                                        <p id="food-price">240.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">2</span>
                                    </p>
                                    <p id="food-name">
                                        Nem nướng
                                        <p id="food-price">240.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">3</span>
                                    </p>
                                    <p id="food-name">
                                        Chả giò Hongkong
                                        <p id="food-price">240.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">4</span>
                                    </p>
                                    <p id="food-name">
                                        Hoành thánh chiên
                                        <p id="food-price">240.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">5</span>
                                    </p>
                                    <p id="food-name">
                                        Ốc bưu nhồi thịt
                                        <p id="food-price">300.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">6</span>
                                    </p>
                                    <p id="food-name">
                                        Phá lấu
                                        <p id="food-price">240.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">7</span>
                                    </p>
                                    <p id="food-name">
                                        Mực chiên giòn
                                        <p id="food-price">250.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                            </ul>
                        </form>
                        <div class="card-detail">
                            <a href="#" class="card-btn">Đặt đơn</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="card-item">
                <div class="card">
                    <div class="card-image">
                        <img
                            src="./assets/img/soup.jpg"
                            alt="easy template"
                        />
                    </div>
                    <div class="cardbody">
                        <h3 class="card-title">
                            <a href="#" class="card-title-link">
                                Các món soup
                            </a>
                        </h3>
                        <form id="FORM_1">
                            <input type="hidden" name="_token" value="nHOFBedoyCAWT1f4rnSZXCSYCkeUWiqgIL53hGw4" id="INPUT_2" />
                            <ul id="menu-list">
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">1</span>
                                    </p>
                                    <p id="food-name">
                                        Soup cua gà
                                        <p id="food-price">240.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">2</span>
                                    </p>
                                    <p id="food-name">
                                        Soup hải sản
                                        <p id="food-price">270.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">3</span>
                                    </p>
                                    <p id="food-name">
                                        Soup cua vi cá
                                        <p id="food-price">290.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">4</span>
                                    </p>
                                    <p id="food-name">
                                        Soup bong bóng cá
                                        <p id="food-price">270.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">5</span>
                                    </p>
                                    <p id="food-name">
                                        Soup măng cua tuyết nhĩ
                                        <p id="food-price">250.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">6</span>
                                    </p>
                                    <p id="food-name">
                                        Soup óc heo
                                        <p id="food-price">220.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">7</span>
                                    </p>
                                    <p id="food-name">
                                        Soup tam tơ
                                        <p id="food-price">250.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">8</span>
                                    </p>
                                    <p id="food-name">
                                        Soup măng tây cua
                                        <p id="food-price">240.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                            </ul>
                        </form>
                        <div class="card-detail">
                            <a href="#" class="card-btn">Đặt đơn</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="card-item">
                <div class="card">
                    <div class="card-image">
                        <img
                            src="./assets/img/goi.jpg"
                            alt="easy template"
                        />
                    </div>
                    <div class="cardbody">
                        <h3 class="card-title">
                            <a href="#" class="card-title-link">
                                Các món gỏi
                            </a>
                        </h3>
                        <form id="FORM_1">
                            <input type="hidden" name="_token" value="nHOFBedoyCAWT1f4rnSZXCSYCkeUWiqgIL53hGw4" id="INPUT_2" />
                            <ul id="menu-list">
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">1</span>
                                    </p>
                                    <p id="food-name">
                                        Gói ngó sen tôm thịt
                                        <p id="food-price">250.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">2</span>
                                    </p>
                                    <p id="food-name">
                                        Gỏi củ hủ dừa tôm thịt
                                        <p id="food-price">270.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">3</span>
                                    </p>
                                    <p id="food-name">
                                        Gòi cà pháo thịt bò
                                        <p id="food-price">300.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">4</span>
                                    </p>
                                    <p id="food-name">
                                        Gỏi đu đủ khô bò
                                        <p id="food-price">250.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">5</span>
                                    </p>
                                    <p id="food-name">
                                        Gỏi bò bóp thấu
                                        <p id="food-price">280.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">6</span>
                                    </p>
                                    <p id="food-name">
                                        Gỏi tai heo
                                        <p id="food-price">240.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">7</span>
                                    </p>
                                    <p id="food-name">
                                        Gỏi tiến vua 
                                        <p id="food-price">350.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">8</span>
                                    </p>
                                    <p id="food-name">
                                        Gỏi gà hoa chuối
                                        <p id="food-price">240.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">9</span>
                                    </p>
                                    <p id="food-name">
                                        Gỏi xoài tôm thịt
                                        <p id="food-price">240.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">10</span>
                                    </p>
                                    <p id="food-name">
                                        Gỏi hải sản Thái Lan
                                        <p id="food-price">300.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                            </ul>
                        </form>
                        <div class="card-detail">
                            <a href="#" class="card-btn">Đặt đơn</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="card-item">
                <div class="card">
                    <div class="card-image">
                        <img
                            src="./assets/img/rice.jpg"
                            alt="easy template"
                        />
                    </div>
                    <div class="cardbody">
                        <h3 class="card-title">
                            <a href="#" class="card-title-link">
                                Các món cơm - mì
                            </a>
                        </h3>
                       
                        <form id="FORM_1">
                            <input type="hidden" name="_token" value="nHOFBedoyCAWT1f4rnSZXCSYCkeUWiqgIL53hGw4" id="menu" />
                            <ul id="menu-list">
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">1</span>
                                    </p>
                                    <p id="food-name">
                                        Cơm chiên hải sản
                                        <p id="food-price">300.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">2</span>
                                    </p>
                                    <p id="food-name">
                                        Cơm dương châu
                                        <p id="food-price">300.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">3</span>
                                    </p>
                                    <p id="food-name">
                                        Cơm chiên cá mặn
                                        <p id="food-price">300.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">4</span>
                                    </p>
                                    <p id="food-name">
                                        Cơm hấp lá sen
                                        <p id="food-price">300.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">5</span>
                                    </p>
                                    <p id="food-name">
                                        Mì xào thập cẩm
                                        <p id="food-price">300.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">6</span>
                                    </p>
                                    <p id="food-name">
                                        Mì xào xá xíu
                                        <p id="food-price">300.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">7</span>
                                    </p>
                                    <p id="food-name">
                                        Mì xào giòn
                                        <p id="food-price">320.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                            </ul>
                        </form>
                        <div class="card-detail">
                            <a href="#" class="card-btn">Đặt đơn</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="card-item">
                <div class="card">
                    <div class="card-image">
                        <img
                            src="./assets/img/lau.jpg"
                            alt="easy template"
                        />
                    </div>
                    <div class="cardbody">
                        <h3 class="card-title">
                            <a href="#" class="card-title-link">
                                Các món lẩu
                            </a>
                        </h3>
                        <form id="FORM_1">
                            <input type="hidden" name="_token" value="nHOFBedoyCAWT1f4rnSZXCSYCkeUWiqgIL53hGw4" id="menu" />
                            <ul id="menu-list">
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">1</span>
                                    </p>
                                    <p id="food-name">
                                        Lẩu thái cá diêu hồng
                                        <p id="food-price">250.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">2</span>
                                    </p>
                                    <p id="food-name">
                                        Lẩu gà lá giang
                                        <p id="food-price">350.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">3</span>
                                    </p>
                                    <p id="food-name">
                                        Lẩu cá bốp nấu chua
                                        <p id="food-price">500.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">4</span>
                                    </p>
                                    <p id="food-name">
                                        Lẩu cua đồng
                                        <p id="food-price">520.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">5</span>
                                    </p>
                                    <p id="food-name">
                                        Lẩu hải sản nấm
                                        <p id="food-price">350.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">6</span>
                                    </p>
                                    <p id="food-name">
                                        Lẩu cá tầm
                                        <p id="food-price">500.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">7</span>
                                    </p>
                                    <p id="food-name">
                                        Lẩu dê
                                        <p id="food-price">340.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">8</span>
                                    </p>
                                    <p id="food-name">
                                        Lẩu cá kèo
                                        <p id="food-price">350.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                            </ul>
                        </form>
                        <div class="card-detail">
                            <a href="#" class="card-btn">Đặt đơn</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="card-item">
                <div class="card">
                    <div class="card-image">
                        <img
                            src="./assets/img/dessert.jpg"
                            alt="easy template"
                        />
                    </div>
                    <div class="cardbody">
                        <h3 class="card-title">
                            <a href="#" class="card-title-link">
                                Món tráng miệng
                            </a>
                        </h3>
                        <form id="FORM_1">
                            <input type="hidden" name="_token" value="nHOFBedoyCAWT1f4rnSZXCSYCkeUWiqgIL53hGw4" id="menu" />
                            <ul id="menu-list">
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">1</span>
                                    </p>
                                    <p id="food-name">
                                        Rau câu
                                        <p id="food-price">50.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">2</span>
                                    </p>
                                    <p id="food-name">
                                        Bánh plan
                                        <p id="food-price">50.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">3</span>
                                    </p>
                                    <p id="food-name">
                                        Trái cây các loại
                                        <p id="food-price">100.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">4</span>
                                    </p>
                                    <p id="food-name">
                                        Panna cotta
                                        <p id="food-price">120.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                                <li id="food-list-optional">
                                    <p id="food-span">
                                        <span id="num">5</span>
                                    </p>
                                    <p id="food-name">
                                        Bánh bông lan
                                        <p id="food-price">150.000đ</p>
                                    </p>
                                    <p id="food-divider">
                                    </p>
                                </li>
                            </ul>
                        </form>
                        <div class="card-detail">
                            <a href="#" class="card-btn">Đặt đơn</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div> -->







    <div class="wrapper distant"></div>

    
    <div class="wrapper">
        <div class="wrapper-image">
           
            
            {% if orders is not none %}
                <div class="success-message" id="successMessage">Đã Thêm Vào Đám Cưới Của Tôi</div>
            {% else %}
                <div class="success-message" id="successMessage">Chưa Đặt Thực Đơn</div>
            {% endif %}
                <div class="image-wrap1">
                <div class="ig-button">
                    <a href="#" class="social-link" title="Instagram">
                      <div class="icon">
                        <img src="static/SanhCuoi/img/ig.png" class="corner-image">
                      </div>
                      <span class="text">Instagram</span>
                    </a>
                </div>
                <div class="fb-button">
                    <a href="#" class="social-link" title="Facebook">
                    <div class="icon">
                        <img src="static/SanhCuoi/img//fb.png" class="corner-image">
                    </div>
                      <span class="text">Facebook</span>
                    </a>
                </div>
            </div>  
            <div class="image-wrap2">
                <div class="phone-button">
                    <a href="#" class="social-link" title="Phone-number">
                      <div class="icon">
                        <img src="static/SanhCuoi/img/phone.png" class="corner-image">
                      </div>
                      <span class="text">0934123456</span>
                    </a>
                </div>
                <div class="mail-button">
                    <a href="#" class="social-link" title="Email">
                    <div class="icon">
                        <img src="static/SanhCuoi/img//mail.png" class="corner-image">
                    </div>
                      <span class="text">admin@gmail.com</span>
                    </a>
                </div>
            </div>
        </div>
        
    </div>
    
    
</body>
</html>

<script>
    function submitBooking(MaThucDon, TenThucDon, DonGia, DuongDanAnh, Mon1, Mon2, Mon3, Mon4, Mon5, Mon6, Bia, NuocNgot) {
        // Sử dụng AJAX để gửi dữ liệu về server
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/thucdon/order", true);
        xhr.setRequestHeader("Content-Type", "application/json");

        // Dữ liệu để gửi
        var data = {
            MaThucDon: MaThucDon,
            TenThucDon: TenThucDon,
            DonGia: DonGia,
            DuongDanAnh: DuongDanAnh,
            Mon1: Mon1,
            Mon2: Mon2,
            Mon3: Mon3,
            Mon4: Mon4,
            Mon5: Mon5,
            Mon6: Mon6,
            Bia: Bia,
            NuocNgot: NuocNgot
        };

        // Gửi dữ liệu dưới dạng JSON
        xhr.send(JSON.stringify(data));
    }
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Lấy đối tượng div chứa thông báo
        var successMessage = document.getElementById("successMessage");
        
        // Hiển thị thông báo "Đặt thành công"
        successMessage.style.display = "block";

        // Ẩn thông báo sau 5 giây
        setTimeout(function () {
            successMessage.style.display = "none";
        }, 5000);
    });
</script>

